*{
    margin:0;
    padding:0;


}
body{
    background-color:#faedcd;
    background-attachment: scroll;
}
.nav{
    display:flex;
    background-color: lightpink;
    width: 100vw;
    justify-content:space-evenly;
    padding: 4px;
    font-size: large;
    color:lightcyan;
    position: fixed;
    top:0px;
    
    
}   
a{
    text-decoration: none;
    color:lightcyan;
}
.profile{
    display: block;
    margin:50px 0vw 0px 45vw;
    height:90px;
    width:90px;
    text-align: center;
    border: 1px solid lightpink;
    border-radius: 50%;
    background-image: url('photo.png');
    background-size:cover;
}
#name{
    display: block;
    margin:10px 0vw 0px 40vw;
    color: lightgrey;

    
}
#intro,#project,#hobbies,#contact{
    margin:15px;
    text-align: center;
    font-size: x-small;
    color:white
}
h2{
    text-align: left;
    margin-left:30px;
    color:white;
    text-decoration: underline;
}

footer{
    position:relative;
    bottom:0px;
    background-color: black;
    color:white;
    width: 100vw;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-size: small;
    display: block;
}
.prj{
    display: flex;
    justify-content: space-evenly;
    background-color:none;
    height: 110px;
    width: 100vw;
}
#prj{
    height: 100px;
    width: 100px;
    /* background-color: rgb(238, 232, 232); */
    margin:4px;
    display: inline-block;
    box-shadow: 1px 1px 20px ;
    background-image: url(https://img.freepik.com/free-vector/maturity-stage-online-service-platform-project-life-cycle-period-business-project-implementation-development-vector-flat-illustration_613284-1294.jpg?w=740&t=st=1697085890~exp=1697086490~hmac=6821b040000a7660cb1107e5531ea62574604a4e425c75cb59d413e365592d19);
    background-size: contain;
}
#prj{
    animation: light 2s linear 4s infinite normal;
}
@keyframes light{
    0%{color:lightcoral;}
    50%{color:lightpink;}
    100%{color:rgb(101, 197, 230);}
}
#prj:hover{
    transform: translateY(2px);
    transform: translateX(2px);
}


input{
    width:30px;
    height:15px;
    border:none;
    border-color: none;
    border-radius: 30%;
    margin:1px
}
button{
    width:15px;

    border: none;
    border-radius: 50%;
    background-color: peru;
    margin-left:-15px;
}
ul{
    font-size: xx-small;
}
